* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;

}

:root {
    --cor1: rgb(1, 52, 109);
    --cor2: linear-gradient(to right, #1753c2, #0c476e);
    --cor3: linear-gradient(to right, #268f11, #05b61d);
    --cor4: linear-gradient(to right, #6489b4, #695aeb, #2d77bd);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    /* background: rgba(128, 128, 128, 0.336); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: -25px;
}

.navbar {
    background-color: var(--orange);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

#logado {
    font-size: 25px;
    margin-right: 20px;
    padding: auto;
    color: white;
}


.button {
    background-color: #0c476e;
    color: white;
    border: none;
    padding: 3px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #d60909;
}

header {
    border-radius: 10px;
    max-width: 650px;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    color: var(--cor1);

}

.top {
    background: var(--white);
    background-image: url(../img/cidade-fundo.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    width: 100vw;
    padding-top: 30px;
    margin-top: 15px;
    margin-bottom: -30px;
}

.logo {
    width: 150px;
    aspect-ratio: 1/1;
    margin-bottom: 40px;
    margin-left: 200px;
}



.title {
    color: var(--cor1);
}

.sub-title {
    width: 100vw;
    height: 40px;
    background-color: var(--cor1);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100%;
    text-align: center;
    
}

a {
    align-items: center;
    text-decoration: none;
    text-align: center;
}

i{
    border: 2px solid white;
    padding: 3px;
    border-radius: 20%;
    color:  #0c476e;
    background-color: white;
}
.content {
    
    padding: 10px 10px 10px 10px;
    width: 100vw;
    height: 100%;
    background-color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: 150px 150px;  
    gap: 10px;

}

.link-bt {
    margin: 6px;
    aspect-ratio: 1/1;
    width: 100px;
    border: 1px solid var(--cor1);
    box-shadow: 3px 3px 1px 0px #00000060;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 0.8em;
}

.link-bt:hover{
    width: 105px;
    border:2px solid var(--orange);    
}

.bt{
    width: 160px;
    aspect-ratio: 1/1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid var(--orange); */
}

.logo-op {
    width: 50px;
    margin: auto;   
}

.logo-pln {
    width: 55px;
    margin: auto;   
}

.logo-pnm {
    width: 65px;
    margin: auto;
    
}

.horus{
    width: 70px;
    height: 20px;
}

.m-title{
   width: 150px;
   font-size: 0.69em;
   color: var(--cor1);
   font-weight: bold;
}

.link-p {
    font-weight: bold;
    padding: 5px;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
}

.link-p:hover {
    background-color: var(--orange);
}

.m-link {
    text-decoration: none;
    color: var(--cor1);
}

.m-link:hover {
    font-size: 1.1em;
    color: white;
}

.contact-block{
    background: var(--orange);
    color: var(--cor1);
    width: 500px;
    height: 130px;
    margin-left: 400px;
    margin-top: 15px;
    font-size: 0.8em;
    text-align: left;
    border: 1px solid var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 1px 0px #00000060;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.loc{
    width: 50px;
}

#h-loc{
    text-decoration: none;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background: var(--cor1);
    color: white;
    width: 100%;
}

/* .construc{
    margin-left: 500px;
    margin-top: 15px;
} */

.img-c{
    width: 350px;
}

/* .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */



/* media */

@media (min-width: 815px) {
    html {
        font-size: 18px;
    }
}

@media (max-width:692px) {
    html {
        font-size: 14px;
    }

}

@media (max-width:660px) {

    html {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        font-size: 0.8em;
    }

    .top {
        background-image: none;
    }

    .container {
        flex-direction: column;

    }

    details {
        margin-top: auto;
    }

    .inicial {
        margin-bottom: 5px;
    }

    .secundario {
        margin-top: auto;
    }

    .logo {
        margin: auto;
        margin-bottom: 10%;
    }

    header {
        margin-bottom: 15px;
        text-align: center;
    }

}
